<!DOCTYPE html>
<!-- build:[manifest] game.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Halatafl</title>
    <meta name="description" content="Halatafl game">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <!-- /build -->


    <!-- build:js dist/everything.min.js -->
    <script src="src/gameLogic.js"></script>
    <script src="src/game.js"></script>

    <!-- /build -->

    <script src="src/aiService.js"></script>


    <!-- build:js http://yoav-zibin.github.io/emulator/dist/dragAndDropListeners.min.js -->
    <script src="http://yoav-zibin.github.io/emulator/examples/drag_n_drop/dragAndDropListeners.js"></script>
    <!-- /build -->

    <!-- build:js http://yoav-zibin.github.io/emulator/dist/gameServices.min.js -->
    <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
    <!-- /build -->
    <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
    <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">


<div id="gameArea">


    <img ng-src = "imgs/background.png" width = "100%" height = "100%">
    <img src="imgs/sheep.png" style="position: absolute; top: 2.5%; left: 2%; width: 7.5%;height: 6%;"/>
    <img src="imgs/fox.png" style="position: absolute; top: 9%; left: 2%; width: 6.5%;height: 5.2%;"/>
    <div id = "first" class = "font1">
        <p> {{countArrivedSheep()}}/9</p>
    </div>
    <div id = "second" class = "font2">
        <p> {{countEatenSheep()}}/12</p>
    </div>
    <div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6]"
         style="position:absolute; top:{{row * 10.5 + 13}}%; left:0; width:100%; height:10.5%;">
        <div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6]"
             style="position:absolute; top:0; left:{{col * 14 + 3.5}}%; width:10.5%; height:100%;"
             class="square"
             ng-click="cellClicked(row, col)"
             id="{{'e2e_test_div_' + row + 'x' + col}}">
            <img ng-show="true">
            <!--ng-class="{enlarge0: true}"-->
            <img    ng-class="{enlarge1: true}"
                    ng-src = "{{getSquare(row, col).content === -1 ? 'imgs/empty.png' : (getSquare(row, col).content === 0 ? (getSquare(row,col).isSelected === false ? 'imgs/sheep.png' : 'imgs/sheep_selected.png') : (getSquare(row,col).isSelected === false ? 'imgs/fox.png' : 'imgs/fox_selected.png'))}}" width = "100%" height = "66.66%"
                    style="position:absolute;"
                    id = "{{'e2e_test_img_' + row + 'x' + col}}">
            <!--id="MyPiece{{row}}x{{col}}">-->
            <div>
            </div>
        </div>

</body>
</html>