


.square {
    position: absolute;
    width: 2.5%;
    padding-bottom: 2.5%;
    float: left;
    height: 0;
}





.enlarge1 {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    -webkit-animation: enlarge1 1s;
    -moz-animation: enlarge1 1s;
    -o-animation: enlarge1 1s;
    animation: enlarge1 1s;

}

.enlarge2 {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    -webkit-animation: enlarge2 1s;
    -moz-animation: enlarge2 1s;
    -o-animation: enlarge2 1s;
    animation: enlarge2 1s;

}

.disappear {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    -webkit-animation: disappear 2s;
    -moz-animation: disappear  2s;
    -o-animation: disappear  2s;
    animation: disappear  2s;
    transition-timing-function: linear;
}

.invisible {
    display: none;
}






/* Chrome, Safari, Opera */

@-webkit-keyframes enlarge1 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@-moz-keyframes enlarge1 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@-o-keyframes enlarge1 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@keyframes enlarge1 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes enlarge2 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@-moz-keyframes enlarge2 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@-o-keyframes enlarge2 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}

@keyframes enlarge2 {

    50% { width: 130%; height: 90%; left: -18%; right: -18% }
}






@-webkit-keyframes disappear {
    0% { position: absolute; left: 0%; top:0%}
    100% { position: absolute; left: 1000%; top:-1000%}
}

@-moz-keyframes disappear {
    0% { position: absolute; left: 0%; top:0%}
    100% { position: absolute; left: 1000%; top:-1000%}
}
@-o-keyframes disappear {
    0% { position: absolute; left: 0%; top:0%}
    100% { position: absolute; left: 1000%; top:-1000%}
}
@keyframes disappear {
    0% { position: absolute; left: 0%; top:0%}
    100% { position: absolute; left: 1000%; top:-1000%}
}







